<!DOCTYPE html>
{% extends "layouts/base.html" %}
 
{% load static %}
 
{% block title %} My First Index HTML Page {% endblock title %}
 
{% block content %}
  <h1 style="color: blue;">This is heading 1 (Library)</h1> <!-- add inline css -->
  <p style="color: white;background-color: black;">This is a paragraph text </p> <!-- add inline css -->
  <a href="https://www.w3schools.com/html/default.asp">Click Here to learn more about HTML & CSS</a>
  <hr>
  <!-- This is a comment in HTML, not render in the bowser -->
  <h2>This is heading 2</h2>
  <p>This is some other text. <br/> with newline <br/> and another line</p>
  <hr>
  
  <h2>This is heading 2</h2>
  <p>This is some other text.</p>
{% endblock content %}

<html lang="en">
  {% load static %}
<head>
  <title>List of Books</title>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'qu-icon.png' %}">
  <style>  /* add internal css */
    h1{
      color: green;
    }
 
    h2{
      color: lightskyblue;
    }
 
    p {
      font-family: verdana;
      font-size: 20px;
    }
    
  </style>

  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="topnav">
    <a class="active" href="{% url 'bookmodule.index' %}">Home</a>
    <a href="{% url 'bookmodule.list_books' %}">List Books</a>
    <a href="{% url 'bookmodule.aboutus' %}">About</a>
  </div>

  <h1>List of Books</h1>
  
  <a href="{% url 'bookmodule.view_one_book' bookId=1 %}">
    <h2>Internet & World Wide Web How to Program</h2>
  </a>
  <a href="{% url 'bookmodule.view_one_book' bookId=1 %}">
    <img src="{% static 'book1.jpg' %}" alt="Book1 img desc" width="200" height="200">
  </a>
  <hr>

  <h2>C++ How to Program, Late Objects Version</h2>
  <img src="{% static 'book2.jpg' %}" alt="Book2 img desc" width="200" height="200">
  <hr>

  <h2> Images in Another Folder</h2>
  <img src="{% static 'book3.jpg' %}" alt="Book3 img desc" width="200" height="200">
  <hr>

</body>
</html>
